
body{
    background-color:yellow;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.right-card{
    background-color: green;
    
}

.left-card{
    background-color: red;
}