
.body-container{
    background-color: #005082;
}
.main-menu{
    margin:0;
    position: relative;
    font-size: 3vw;
    top: 2vw;
    text-align: center;
    border: 10px solid red;
    width: 30vw;
    padding: .5vw;
    background-color: white;
    font-family: 'Pathway Gothic One', sans-serif;
    left: 35%;
    border-radius:10px;
}
.menu-container{
    
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    text-align: center;
    align-items: center;
     
}

.option{
    border: 5px solid black;
    text-decoration: none;
    list-style-type: none;
    font-size: 2vw;
    width: 50vw;
    font-family: 'Holtwood One SC', serif;
    border-radius: 25px;
     background-color: #fa163f;
    opacity: .5;
    transition: .5s;
    box-shadow: 5px 5px black;

}

.option:hover{
    opacity: 1;
}

.links{
    color: lime;
}

a{
    color:lime
}

@media only screen and (max-width: 375px){
    .main-menu {
        width: 60vw;
        font-size:12vw;
        top: 5vw;
        left: 20%
    }

    .option{
        width: 60vw;
        font-size: 6vw;
    }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {

    .main-menu {
        width: 60vw;
        font-size:10vw;
        top: 5vw;
        left: 20%
    }
    .option{
        width: 60vw;
        font-size: 3.5vw;
        position: relative;
        top: 2vw;
    }
    
}