footer {
  position: absolute;
  height: 5vh;
  width: 100%;
  background-color: #f79071;
  bottom: 0px;
  font-family: 'Nanum Myeongjo', serif;
  color: #0779e4
}

.footer-img {
  position: relative;
  height: 3.5vh;
  margin-top: 1vh;
  margin-left: 5%;
  left: 40vw;
  border-radius: 10px;
}

.name-symbol {
position: relative;
bottom: 2.2vw;
left: 2vw;
}

.margin-right{
    margin-right: 1vw;
}

.api-symbol {
    position: relative;
    bottom:7.5vh;
    left: 75vw;

}

@media only screen and (max-width: 375px){

  .api-symbol {
    position: relative;
    bottom:6.5vh;
    left: 75vw;
    font-size: 3vw;
    width: 22vw;
    margin:0px;

  }

  .name-symbol {
    position: relative;
    bottom: 8vw;
    left: 14vw;
    font-size: 3vw;
    width: 20vw;
    margin: 0px;
  }


}

@media only screen and  (min-width: 376px) and (max-width: 768px){
  .api-symbol {
    position: relative;
    bottom:6.5vh;
    left: 65vw;
    font-size: 1.5vw;
    width: 30vw;

  }

  .name-symbol {
    position: relative;
    bottom: 5vw;
    left: 14vw;
    font-size: 1.5vw;
    width: 40vw;
  }

}