
.body-container{
    background-color:#005082;
    height: 87vh;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-card{
    background-color: #f4efd3;
    
}

.both-div{
    height: 60vh;
    width: 60vh;
    position: relative;
    top: 6vh;
    border-radius:20px;
    box-shadow: 10px 10px black;
    text-align: center;
    transition: .6s;
    background-color: #f4efd3;
}

.both-div:hover {
    background-color: #f5dea3;

}

.title{
    position: relative;
    text-align: center;
    margin:0;
    top: 3vh;
    left: 30%;
    font-size: 3vw;
    background-color: white;
    border: 10px solid red;
    border-radius:10px;
    width: 30vw;
    padding: 2vw;
    font-family: 'Pathway Gothic One', sans-serif;
    


}

.question-btn {
    position: absolute;
    text-align: center;
    top: 70%;
    left: 44%;
    height: 6vh;
    width: 12vw;
    border-radius: 25px;
    font-size: 1.5vw;
    background-color: #fa163f;
    font-family: 'Bangers', cursive;
    border: 5px solid black;
    opacity: .5;
    transition: .5s;
    color: lime
}

.question-btn:hover {
    opacity: 1;
}

.gif {
    position: relative;
    top: 2vh;
    height: 30vh;
    width: 25vw;
    border-radius: 25px;
    border: 5px solid black

    
}

.name {
    position: relative;
    color: #fa163f;
    font-family: 'Sigmar One', cursive;
    font-size: 2.5vw;
    top: 2vw;
}

.question-number{
    position: absolute;
    left:44%;
    bottom: 50%;
    font-size: 3vh;
    font-family: 'Holtwood One SC', serif;
    animation: color-shift 2s infinite
}

@keyframes color-shift {
    0% {color:black}
    50% {color: #fa163f}
    100% {color: black}
}
.correct-answer {
    border:15px solid green;
}

.incorrect-answer {
    border: 15px solid red;
}

.stats{
    display:none;
    font-family: 'Sigmar One', cursive;
}

.bball {
    height: 10vh;
    position: absolute;
    animation: basketball 2s infinite linear;
}

@keyframes basketball {
    from {transform: rotate(0deg)}
    to {transform: rotate(359deg);}
}

.ball-one{
    right: 1%;
    top: 10%

}

.ball-two{
    top: 10%;
}

@media only screen and (max-width: 375px){


    .title{
        width: 50vw;
        font-size: 8vw;
        left: 22%;

    }

    .ball-one{
        display: none;

    }
    
    .ball-two{
        display: none;

    }

    .both-div{
        height: 35vh;
        
    }

    .question-btn{
        top:82%;
        height: 9vh;
        width: 50vw;
        font-size: 7vw;
        left: 27%;
    }

    .question-number{
        bottom: 20%;
        font-size: 2vh;
        width: 80vw;
        left: 20%
    }

    .name{
        font-size: 7vw;

    }

    .stats{
        position: relative;
        top: 2vw;
    }
    .gif{
        height: 15vh;

    }

}


@media only screen and (min-width: 376px) and (max-width: 768px){
    .title{
        width: 60vw;
        font-size:8vw;
        top: 5vw;
        left: 17%
    }

    .both-div{
        height: 50vh;
        width: 40vw;
        
    }

     .question-btn{
        top:87%;
        height: 7vh;
        width: 40vw;
        font-size: 7vw;
        left: 30%;
    }

    .question-number{
        bottom: 12%;
        width: 80vw;
        left: 33%
    }
}