header{
    height: 8vh;
    width: 100vw;
    background-color: #f79071;
    margin: 0px 0px;
    color: #0779e4;
}

.header-heading {
    margin:0px;
}

.logo{
    height: 6vh;
    border-radius: 50%;
    margin-left: 1vw;
    margin-top: .3vw;
    border: 5px solid white;
}

.game-menu {
    position: absolute;
    right: 4vw;
    top: 1vw;
    font-size: 2vw;
}

.option-one {
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    margin-right: 10vw;
    text-decoration: none;
    
    
}
.option-one:hover{
    color: green;
}

.option-two {
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    
}

.click-item{
    text-decoration: none;
    transition: 1s;
}

.click-item:hover{
    color: #fa163f;
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 375px){
    .game-menu {
        position: absolute;
        right: 4vw;
        top: 8vw;
        font-size: 4vw;
    }

}

@media only screen and (min-width: 376px) and (max-width: 768px){
    .game-menu {
        position: absolute;
        right: 4vw;
        top: 3vw;
        font-size: 4vw;
    }

}